* text=auto !eol
/pom.xml -text
src/main/java/org/onehippo/forge/camel/component/hippo/HippoEventComponent.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/component/hippo/HippoEventConsumer.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/component/hippo/HippoEventConverter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/component/hippo/HippoEventEndpoint.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/component/hippo/HippoEventMessage.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/converter/json/JSONConverter.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/scheduling/DefaultCamelRepositoryJob.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/camel/util/CamelContextUtils.java -text svneol=unset#text/plain
src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
src/main/resources/META-INF/services/org/apache/camel/component/hippoevent -text
src/main/resources/groovy-camel-context-module.xml -text svneol=unset#text/plain
src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/site/argouml/architecture.zargo -text
src/site/checkstyle.xml -text svneol=unset#text/plain
src/site/resources/highlight-source-elements.js -text svneol=unset#text/plain
src/site/resources/images/activemq-admin.png -text
src/site/resources/images/cms-publish.png -text
src/site/resources/images/es-search.png -text
src/site/resources/images/file-to-rest.png -text
src/site/resources/images/hippo-event-flow.png -text
src/site/resources/images/hippoevt-to-file.png -text
src/site/resources/images/hippoevt-to-queue.png -text
src/site/resources/images/queue-to-rest.png -text
src/site/resources/images/route1-small.png -text
src/site/resources/images/route2-file2-small.png -text
src/site/resources/images/solr-search.png -text
src/site/resources/images/use_cases_overview1.png -text
src/site/resources/jquery-1.7.2.min.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shAutoloader.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushAS3.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushAppleScript.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushBash.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCSharp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushColdFusion.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCpp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushCss.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushDelphi.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushDiff.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushErlang.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushGroovy.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJScript.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJava.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushJavaFX.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPerl.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPhp.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPlain.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPowerShell.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushPython.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushRuby.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushSass.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushScala.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushSql.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushVb.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shBrushXml.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shCore.js -text svneol=unset#text/plain
src/site/resources/sh/scripts/shLegacy.js -text svneol=unset#text/plain
src/site/resources/sh/styles/shCore.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreDefault.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreDjango.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreEclipse.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreEmacs.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreFadeToGrey.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreMDUltra.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreMidnight.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shCoreRDark.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeDefault.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeDjango.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeEclipse.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeEmacs.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeFadeToGrey.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeMDUltra.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeMidnight.css -text svneol=unset#text/plain
src/site/resources/sh/styles/shThemeRDark.css -text svneol=unset#text/plain
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/aboutdemo.xml -text svneol=unset#text/plain
src/site/xdoc/build-from-source.xml -text svneol=unset#text/plain
src/site/xdoc/component-hippoevent.xml -text svneol=unset#text/plain
src/site/xdoc/demo-es-integration.xml -text svneol=unset#text/plain
src/site/xdoc/demo-integration-activemq.xml -text svneol=unset#text/plain
src/site/xdoc/demo-solr-integration.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/camel/component/hippo/HippoEventConsumerTest.java -text svneol=unset#text/plain
src/test/resources/log4j.xml -text svneol=unset#text/plain
