name: Update Forge Descriptor

on:
  push:
    branches: [master]
    paths:
      - 'pom.xml'
      - '.forge/**'
      - 'README.md'
  release:
    types: [published]
  workflow_dispatch:

jobs:
  generate:
    permissions:
      contents: write
    uses: bloomreach-forge/ci-workflows/.github/workflows/forge-descriptor.yml@main
    with:
      readme-path: README.md
